<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>778327964496-7pnd5nq87ja609jl7npvps21agtm0vb6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.778327964496-7pnd5nq87ja609jl7npvps21agtm0vb6</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>778327964496-3ou35ltjta31npa38t4dk0pksnnraido.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAmA0KWsTSGtebUGj6rJO0EKOyzK5ISjgc</string>
	<key>GCM_SENDER_ID</key>
	<string>778327964496</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.Project</string>
	<key>PROJECT_ID</key>
	<string>blogapp-8e71d</string>
	<key>STORAGE_BUCKET</key>
	<string>blogapp-8e71d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:778327964496:ios:d049abc0acdf8ac78cca55</string>
	<key>DATABASE_URL</key>
	<string>https://blogapp-8e71d-default-rtdb.firebaseio.com</string>
</dict>
</plist>